body {
  color: black;
  font-family: Helvetica;
  text-align: center;
  background-image: url(http://farm5.staticflickr.com/4090/4946510853_cc661ce734_o.jpg);
  padding-top: 25px
}
img {
    margin: 0px 0px 25px 0px;
    border: 0;
    border-radius: 360px;
}
h1 {
	font-size: 40px;
}
a {
	padding: 50px 50px 50px 50px;
	color: #000;
	display: inline;
	font-size: 14px;
}
a.email_link {
    padding: 0;
  }
ul {
      list-style: none;
      padding: 10px;
    }
li {
      padding: 0px 0px 0px 0px;
      text-align: center;
  }
  article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      a {
        padding: 5px;
        display: block;
      }
    }